/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		nordic,nus-uart = &uart1;
	};

	leds {
		compatible = "gpio-leds";
		led4: led_4 {
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			label = "STeval power enable";
		};
	};
};

&uart1 {
	status = "okay";
};